openapi: 3.1.0

info:
  title: Purchasing & Approved Vendor Catalog
  version: 1.2.0
  description: |
    System of record for the Village of Theoria's approved vendor list and
    purchasing catalog. Maintained by the Clerk's office as fiscal officer.

    Replaces the vendor spreadsheet. Other departments read this service before
    committing village money.

    **Operational rules that are not enforced by this API.** Adding a vendor and
    adding catalog items against a vendor are separate duties held by different
    people in the Clerk's office. The API does not currently distinguish the two
    callers. Corrections to extension 104.
  contact:
    name: Clerk of Council
    url: /portal/departments/clerk-records/

servers:
  - url: https://theoria.hypertheory-labs.com/clerk-records/purchasing
    description: >-
      Classroom cluster. Village services are routed as
      /{department}/{system}. Confirm the environment is up in Contractor
      Resources before relying on it.
  - url: http://localhost:5080
    description: Local development.

tags:
  - name: Vendors
  - name: Standing
  - name: Catalog

paths:
  /vendors:
    get:
      tags: [Vendors]
      summary: List vendors
      parameters:
        - name: status
          in: query
          description: Filter by current standing status.
          schema:
            $ref: '#/components/schemas/StandingStatus'
        - name: q
          in: query
          description: Free-text match against vendor name.
          schema: { type: string }
        - name: page
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
        - name: pageSize
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
      responses:
        '200':
          description: A page of vendors.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VendorPage' }
    post:
      tags: [Vendors]
      summary: Register a vendor
      description: |
        Registers a vendor. A newly registered vendor has no standing record and
        is therefore not approved. Standing is established separately.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VendorRegistration' }
      responses:
        '201':
          description: Vendor registered.
          headers:
            Location:
              schema: { type: string, format: uri-reference }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Vendor' }
        '400':
          $ref: '#/components/responses/Problem'
        '409':
          description: A vendor with this tax identifier is already registered.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /vendors/{vendorId}:
    parameters:
      - $ref: '#/components/parameters/VendorId'
    get:
      tags: [Vendors]
      summary: Get a vendor
      responses:
        '200':
          description: The vendor.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Vendor' }
        '404':
          $ref: '#/components/responses/Problem'

  /vendors/{vendorId}/standing:
    parameters:
      - $ref: '#/components/parameters/VendorId'
    get:
      tags: [Standing]
      summary: Get a vendor's current standing
      description: |
        Reports the vendor's standing as of now, with the date it took effect and
        the authority it derives from.

        This endpoint reports standing. It does not decide whether a given
        purchase or dispatch may proceed — that determination belongs to the
        department committing the funds, which is the only party that knows what
        it is about to commit them to.
      responses:
        '200':
          description: The vendor's current standing.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VendorStanding' }
        '404':
          description: >-
            No such vendor, or the vendor is registered but no standing has been
            established.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /catalog-items:
    get:
      tags: [Catalog]
      summary: List catalog items
      parameters:
        - name: vendorId
          in: query
          schema: { type: string, format: uuid }
        - name: category
          in: query
          description: Purchasing category code. See Standards for the code list.
          schema: { type: string }
        - name: page
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
        - name: pageSize
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
      responses:
        '200':
          description: A page of catalog items.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CatalogItemPage' }
    post:
      tags: [Catalog]
      summary: Add a catalog item
      description: |
        Adds an item against a vendor. The vendor must be in approved standing at
        the time the item is added. Items are not removed when a vendor's standing
        later changes; they remain in the catalog and the standing check is the
        control.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CatalogItemSubmission' }
      responses:
        '201':
          description: Item added.
          headers:
            Location:
              schema: { type: string, format: uri-reference }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CatalogItem' }
        '400':
          $ref: '#/components/responses/Problem'
        '422':
          description: The vendor is not in approved standing.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /catalog-items/{itemId}:
    parameters:
      - name: itemId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Catalog]
      summary: Get a catalog item
      responses:
        '200':
          description: The catalog item.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CatalogItem' }
        '404':
          $ref: '#/components/responses/Problem'

components:
  parameters:
    VendorId:
      name: vendorId
      in: path
      required: true
      schema: { type: string, format: uuid }

  responses:
    Problem:
      description: Problem details.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }

  schemas:
    StandingStatus:
      type: string
      description: |
        - `approved` — may be used for new purchases.
        - `suspended` — may not be used for new purchases. Work already
          dispatched is not affected by the suspension itself.
        - `debarred` — may not be used. Statutory, and not waivable by the
          village.
      enum: [approved, suspended, debarred]

    StandingAuthority:
      type: string
      description: |
        Where the standing came from. `state-debarment-list` entries originate
        outside the village and are not revisable here.
      enum: [clerk-review, village-ordinance, state-debarment-list]

    Vendor:
      type: object
      required: [id, name, taxIdLast4, registeredOn]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        taxIdLast4: { type: string, minLength: 4, maxLength: 4 }
        registeredOn: { type: string, format: date }
        contactEmail: { type: [string, 'null'], format: email }
        contactPhone: { type: [string, 'null'] }

    VendorRegistration:
      type: object
      required: [name, taxId]
      properties:
        name: { type: string, minLength: 1 }
        taxId: { type: string }
        contactEmail: { type: [string, 'null'], format: email }
        contactPhone: { type: [string, 'null'] }

    VendorStanding:
      type: object
      required: [vendorId, status, effectiveDate, authority, reason, reviewedOn]
      properties:
        vendorId: { type: string, format: uuid }
        status: { $ref: '#/components/schemas/StandingStatus' }
        effectiveDate:
          type: string
          format: date
          description: >-
            The date this standing took effect. May be earlier than the date it
            was recorded here.
        expiresOn:
          type: [string, 'null']
          format: date
          description: Null where the standing does not lapse on its own.
        authority: { $ref: '#/components/schemas/StandingAuthority' }
        reason:
          type: string
          description: >-
            Narrative reason for the current standing, as recorded by the Clerk's
            office.
        reviewedOn: { type: string, format: date }

    CatalogItem:
      type: object
      required: [id, vendorId, category, description, unit, unitPrice]
      properties:
        id: { type: string, format: uuid }
        vendorId: { type: string, format: uuid }
        category:
          type: string
          description: Purchasing category code.
        description: { type: string }
        unit: { type: string, description: 'Unit of issue, e.g. EA, TON, HR.' }
        unitPrice: { type: number, description: 'USD. Currency is not carried.' }
        contractNumber: { type: [string, 'null'] }

    CatalogItemSubmission:
      type: object
      required: [vendorId, category, description, unit, unitPrice]
      properties:
        vendorId: { type: string, format: uuid }
        category: { type: string }
        description: { type: string, minLength: 1 }
        unit: { type: string }
        unitPrice: { type: number, minimum: 0 }
        contractNumber: { type: [string, 'null'] }

    VendorPage:
      type: object
      required: [items, page, pageSize, total]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Vendor' }
        page: { type: integer }
        pageSize: { type: integer }
        total: { type: integer }

    CatalogItemPage:
      type: object
      required: [items, page, pageSize, total]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/CatalogItem' }
        page: { type: integer }
        pageSize: { type: integer }
        total: { type: integer }

    Problem:
      type: object
      description: RFC 9457 problem details.
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }
